@import "src/styles/base/variables";
.header {
  background: #44b7ad;
  margin-bottom: $m-size;
  @media (max-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}
.transparent {
  background: transparent;
  .header__links > a {
    color: black;
    font-weight: 500;
  }
  .content-container {
    max-width: 100%;
    padding: 0 $l-size;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: $m-size 0;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 4rem;
  }
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  > * {
    padding: 0 $m-size;
  }

  .active {
    color: #fb0091 !important;
  }
  > *:hover {
    color: #fb0091;
  }
  @media (max-width: $desktop-breakpoint) {
    > * {
      padding: $m-size $s-size;
    }
  }
}
